.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wrapper h1 {
  margin-bottom: 3px;
}

.message-div {
  margin-bottom: 5px;
}

.board {
  margin-top: 3px;
  height: 300px;
  width: 300px;
}

.row {
  width: 100%;
  height: 33%;
  display: flex;
}

.square {
  width: 33%;
  height: 100%;
  border: 1px solid;
}
