body {
  font-family: fantasy;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wrapper h1 {
  margin-bottom: 1px;
}

.game-wrapper p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.message-div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin-top: 3px;
  height: 300px;
  width: 300px;
}

.row {
  width: 100%;
  height: 33%;
  display: flex;
}

.square {
  text-align: center;
  font-size: 80px;
  width: 33%;
  height: 100%;
  border: 1px solid;
}
